<div class="panel panel-default">
  <div class="panel-heading"><h1>Lista de Códigos de insumos de los proveedores</h1></div>
  <div class="panel-body" >
    <br><br>
      <%= link_to 'Ingresar Cotización', new_codigo_proveedor_path , :class => "col-xs-2 btn btn-primary", :style=>"margin-left:20px;color:white;background-color:green"%>
      <br><br>
    <div class="row">
      <div class="class-xs-8">
        <table class=" table table-striped table-hover">
          <thead>
            <tr>
              <th>Código del insumo</th>
              <th>Nombre del proveedor</th>
              <th>Nombre del insumo</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @v_codigo_proveedor.each do |v_codigo_proveedor| %>
              <tr>
                <td><%= v_codigo_proveedor.CODIGO_INSUMO %></td>
                <td><%= v_codigo_proveedor.NOMBRE_PROVEEDOR %></td>
                <td><%= v_codigo_proveedor.NOMBRE_UNICO_INSUMO %></td>
                <% @codigo_proveedor.each do |codigo_proveedor|%>
                  <%if codigo_proveedor.ID_CODIGO_PROVEEDOR==v_codigo_proveedor.ID_CODIGO_PROVEEDOR%>
                    <td>
                      <%= link_to 'Editar',edit_codigo_proveedor_path(codigo_proveedor), :class => "btn btn-primary", :style=> "color:white;background-color:green;width:100px;" %>
                    </td>
                  <%end%>
                <%end%>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <%= link_to 'Volver', v_cotizacion_index_path, :class => "btn btn-default", :style=>"width:100px;"%>
    <br>
  </div>
</div>