<p id="notice"><%= notice %></p>

<p>
  <strong>Id codigo proveedor:</strong>
  <%= @v_codigo_proveedor.ID_CODIGO_PROVEEDOR %>
</p>

<p>
  <strong>Id proveedor:</strong>
  <%= @v_codigo_proveedor.ID_PROVEEDOR %>
</p>

<p>
  <strong>Id insumo:</strong>
  <%= @v_codigo_proveedor.ID_INSUMO %>
</p>

<p>
  <strong>Codigo insumo:</strong>
  <%= @v_codigo_proveedor.CODIGO_INSUMO %>
</p>

<p>
  <strong>Nombre proveedor:</strong>
  <%= @v_codigo_proveedor.NOMBRE_PROVEEDOR %>
</p>

<p>
  <strong>Nombre unico insumo:</strong>
  <%= @v_codigo_proveedor.NOMBRE_UNICO_INSUMO %>
</p>

<%= link_to 'Edit', edit_v_codigo_proveedor_path(@v_codigo_proveedor) %> |
<%= link_to 'Back', v_codigo_proveedor_index_path %>
