<h1>Listing detalle_guia_de_despacho</h1>

<table>
  <thead>
    <tr>
      <th>Id guia despacho</th>
      <th>Linea guia</th>
      <th>Id proveedor</th>
      <th>Id insumo</th>
      <th>Codigo insumo</th>
      <th>Cantidad guia</th>
      <th>Precio guia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_guia_de_despacho.each do |detalle_guia_de_despacho| %>
      <tr>
        <td><%= detalle_guia_de_despacho.ID_GUIA_DESPACHO %></td>
        <td><%= detalle_guia_de_despacho.LINEA_GUIA %></td>
        <td><%= detalle_guia_de_despacho.ID_PROVEEDOR %></td>
        <td><%= detalle_guia_de_despacho.ID_INSUMO %></td>
        <td><%= detalle_guia_de_despacho.CODIGO_INSUMO %></td>
        <td><%= detalle_guia_de_despacho.CANTIDAD_GUIA %></td>
        <td><%= detalle_guia_de_despacho.PRECIO_GUIA %></td>
        <td><%= link_to 'Show', detalle_guia_de_despacho %></td>
        <td><%= link_to 'Edit', edit_detalle_guia_de_despacho_path(detalle_guia_de_despacho) %></td>
        <td><%= link_to 'Destroy', detalle_guia_de_despacho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle guia de despacho', new_detalle_guia_de_despacho_path %>
