<h1>Listing guia_de_despacho</h1>

<table>
  <thead>
    <tr>
      <th>Id compra</th>
      <th>Id proveedor</th>
      <th>Fecha salida guia</th>
      <th>Fecha recepcion guia</th>
      <th>Tipo movimiento guia</th>
      <th>Vehiculo guia</th>
      <th>Destino guia</th>
      <th>Despacho local guia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guia_de_despacho.each do |guia_de_despacho| %>
      <tr>
        <td><%= guia_de_despacho.ID_COMPRA %></td>
        <td><%= guia_de_despacho.ID_PROVEEDOR %></td>
        <td><%= guia_de_despacho.FECHA_SALIDA_GUIA %></td>
        <td><%= guia_de_despacho.FECHA_RECEPCION_GUIA %></td>
        <td><%= guia_de_despacho.TIPO_MOVIMIENTO_GUIA %></td>
        <td><%= guia_de_despacho.VEHICULO_GUIA %></td>
        <td><%= guia_de_despacho.DESTINO_GUIA %></td>
        <td><%= guia_de_despacho.DESPACHO_LOCAL_GUIA %></td>
        <td><%= link_to 'Show', guia_de_despacho %></td>
        <td><%= link_to 'Edit', edit_guia_de_despacho_path(guia_de_despacho) %></td>
        <td><%= link_to 'Destroy', guia_de_despacho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guia de despacho', new_guia_de_despacho_path %>
