<%= form_for(@marca) do |f| %>
  <% if @marca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marca.errors.count, "error") %> prohibited this marca from being saved:</h2>

      <ul>
      <% @marca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NOMBRE_MARCA, "Nombre de la marca *" %><br>
    <%= f.text_field :NOMBRE_MARCA, :class => "form-control" %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit "Ingresar marca", :class => "col-xs-2 btn btn-default", :style=>"color:white;background-color:green" %>
  </div>
    <%= link_to 'Volver', marca_index_path , :class => "col-xs-2 btn btn-default", :style=>"margin-left:20px;margin-bottom:20px;" %>
<% end %>
