<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NOMBRE_USUARIO, "Nombre" %><br>
    <%= f.text_field :NOMBRE_USUARIO, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :RUT_USUARIO, "RUT" %><br>
    <%= f.text_field :RUT_USUARIO, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :FECHA_NACIMIENTO_USUARIO, "Fecha de nacimiento *" %><br>
    <%= f.date_field :FECHA_NACIMIENTO_USUARIO, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email , "Correo electrónico *"%><br>
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :TELEFONO_USUARIO, "Teléfono" %><br>
    <%= f.text_field :TELEFONO_USUARIO, :class => "form-control" %>
  </div>
  <div class="field">
    <%roles={"Vendedor"=>"V","Bodeguero"=>"B","Administrador"=>"A"}%>
    <%= f.label :ROL_USUARIO, "Rol de usuario" %><br>
    <%= f.select :ROL_USUARIO,roles, :class => "form-control", :include_blank => true  %>
  </div>
  <div class="field">
    <%= f.label :DIRECCION_LOCAL, "Local de usuario" %><br>
    <%#= f.select :ROL_USUARIO,roles, :class => "form-control", :include_blank => true  %>
    <%= f.collection_select :ID_LOCAL, Local.all, :id, :DIRECCION_LOCAL %><br>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit "Actualizar usuario", :class => "col-xs-4 btn btn-default", :style=>"color:white;background-color:green" %>
  </div>
    <%= link_to 'Volver', usuario_index_path , :class => "col-xs-4 btn btn-default", :style=>"margin-left:20px;margin-bottom:20px;" %>
<% end %>
