<div class="panel panel-default">
  <div class="panel-heading"><h1>Personal</h1></div>

  <div class="panel-body" >
    <br><br>
    <%= link_to 'Agregar nuevo empleado', new_usuario_path, :class => "col-xs-2 btn btn-primary", :style=>"margin-left:20px;color:white;background-color:green"%>
    <br><br>
  </div>

  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre usuario</th>
      <th>Rut usuario</th>
      <th>Fecha nacimiento usuario</th>
      <th>Correo usuario</th>
      <th>Telefono usuario</th>
      <th>Rol usuario</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuario.each do |usuario| %>
      <tr>
        <td><%= usuario.NOMBRE_USUARIO %></td>
        <td><%= usuario.RUT_USUARIO %></td>
        <td><%= usuario.FECHA_NACIMIENTO_USUARIO %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.TELEFONO_USUARIO %></td>
        <td>
          <% if usuario.ROL_USUARIO == 'B' %>
            Bodeguero
          <% elsif usuario.ROL_USUARIO == 'V'%>
            Vendedor
          <% else %>
            Administrador
          <% end %>
        </td>
        <td>
          <div class="btn-group" role="group" >
            <%if usuario.ROL_USUARIO!='A'%>
            <%= link_to 'Detalles',usuario, :class => "btn btn-primary", :style=> "color:white;background-color:green;width:100px;" %>   
            <%end%>
            <%=  link_to 'Editar', edit_usuario_path(usuario), :class => "btn btn-default", :style=>"width:100px;" %>    
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>