<%= form_for(@venta) do |f| %>
  <% if @venta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venta.errors.count, "error") %> prohibited this venta from being saved:</h2>

      <ul>
      <% @venta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ID_VENDEDOR , "Vendedor *" %><br>
    <%= f.collection_select :ID_VENDEDOR, Usuario.where(ROL_USUARIO: 'V'), :id, :NOMBRE_USUARIO, :include_blank => true ,:name => 'ID_VENDEDOR'%>
  </div>
  <div class="field">
    <%= f.label :ID_LOCAL, "Local *" %><br>
    <%= f.collection_select :ID_LOCAL, Local.all, :id, :DIRECCION_LOCAL, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :ID_CLIENTE, "Cliente" %><br>
    <%= f.collection_select :ID_CLIENTE, Cliente.all, :id, :NOMBRE_CLIENTE, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :FECHA_VENTA, "Fecha de realización *" %><br>
    <%= f.date_field :FECHA_VENTA, :class => "form-control" %>
  </div>
  <div class="field">
    <% tipos= {"EFECTIVO"=>"EFECTIVO","CHEQUE"=>"CHEQUE","TARJETA"=>"TARJETA"}%>
    <%= f.label :FORMA_DE_PAGO_VENTA, "Forma de pago *" %><br>
    <%= f.select :FORMA_DE_PAGO_VENTA,tipos, :class => "form-control", :include_blank => true  %>
  </div>
  <div class="field">
    <%= f.label :DESCUENTO_TOTAL_VENTA, "Descuento Total *" %><br>
    <%= f.number_field :DESCUENTO_TOTAL_VENTA, :class => "form-control",:min=>0 %>
  </div>
  <div class="field">
    <%= f.label :MONTO_TOTAL_VENTA, "Monto total *" %><br>
    <%= f.number_field :MONTO_TOTAL_VENTA, :class => "form-control" , :min=>0%>
  </div>
  <div class="field">
    <%= f.label :NUMERO_BOLETA_VENTA, "Número de boleta *" %><br>
    <%= f.number_field :NUMERO_BOLETA_VENTA, :class => "form-control", :min=>0 %>
  </div>
  <h3> Detalle Venta </h3>
  <%= f.fields_for :DetalleVenta, include_id: false do |detalle_venta|%>
    <div class="row">
      <div class=" panel panel-default col-xs-8" style="padding:0px;">
        <br><br>
        <div class="panel-body" style="padding-left:30px;">
          <div class="row">
            <%= detalle_venta.label :LINEA_VENTA, "Línea de detalle *"%>
            <%= detalle_venta.text_field :LINEA_VENTA, :min=>1 %>
          </div>
          <div class="row">
            <%= detalle_venta.label :ID_INSUMO, "Insumo *"%>
            <%= detalle_venta.collection_select :ID_INSUMO, Insumo.all, :id, :NOMBRE_UNICO_INSUMO, :include_blank => true %>
          </div>
          <div class="row">
            <%= detalle_venta.label :CANTIDAD_VENTA, "Cantidad de unidades *"%>
            <%= detalle_venta.number_field :CANTIDAD_VENTA ,:min => 1 %>
          </div>
          <div class="row">
            <%= detalle_venta.label :PRECIO_VENTA, "Precio *"%>
            <%= detalle_venta.number_field :PRECIO_VENTA,:min => 0 %>
          </div>
          <div class="row">
            <%= detalle_venta.label :DESCUENTO_VENTA, "Descuento *"%>
            <%= detalle_venta.number_field :DESCUENTO_VENTA ,:min => 0 %>
          </div>
          <div class="row">
            <%= detalle_venta.hidden_field :_destroy%>
            <% link_to "Eliminar", '#', class: "remove_fields" %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <br><br>
  <div class="row">
    <div class="actions">
      <%= f.submit "Ingresar venta", :class => "col-xs-2 btn btn-default", :style=>"margin-left:20px;color:white;background-color:green" %>
    </div>
      <%= link_to 'Volver', v_venta_index_path , :class => "col-xs-2 btn btn-default", :style=>"margin-left:20px;margin-bottom:20px;" %>
  </div>
<% end %>
