<%= form_for(@v_resumen_bodeguero) do |f| %>
  <% if @v_resumen_bodeguero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@v_resumen_bodeguero.errors.count, "error") %> prohibited this v_resumen_bodeguero from being saved:</h2>

      <ul>
      <% @v_resumen_bodeguero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ID_USUARIO %><br>
    <%= f.number_field :ID_USUARIO %>
  </div>
  <div class="field">
    <%= f.label :NOMBRE_USUARIO %><br>
    <%= f.text_field :NOMBRE_USUARIO %>
  </div>
  <div class="field">
    <%= f.label :RUT_USUARIO %><br>
    <%= f.text_field :RUT_USUARIO %>
  </div>
  <div class="field">
    <%= f.label :CORREO_USUARIO %><br>
    <%= f.text_field :CORREO_USUARIO %>
  </div>
  <div class="field">
    <%= f.label :TELEFONO_USUARIO %><br>
    <%= f.text_field :TELEFONO_USUARIO %>
  </div>
  <div class="field">
    <%= f.label :EDAD %><br>
    <%= f.number_field :EDAD %>
  </div>
  <div class="field">
    <%= f.label :VENTAS %><br>
    <%= f.number_field :VENTAS %>
  </div>
  <div class="field">
    <%= f.label :COMPRAS %><br>
    <%= f.number_field :COMPRAS %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
