<h1>Listing v_resumen_bodeguero</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id usuario</th>
      <th>Nombre usuario</th>
      <th>Rut usuario</th>
      <th>Correo usuario</th>
      <th>Telefono usuario</th>
      <th>Edad</th>
      <th>Ventas</th>
      <th>Compras</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @v_resumen_bodeguero.each do |v_resumen_bodeguero| %>
      <tr>
        <td><%= v_resumen_bodeguero.ID_USUARIO %></td>
        <td><%= v_resumen_bodeguero.NOMBRE_USUARIO %></td>
        <td><%= v_resumen_bodeguero.RUT_USUARIO %></td>
        <td><%= v_resumen_bodeguero.CORREO_USUARIO %></td>
        <td><%= v_resumen_bodeguero.TELEFONO_USUARIO %></td>
        <td><%= v_resumen_bodeguero.EDAD %></td>
        <td><%= v_resumen_bodeguero.VENTAS %></td>
        <td><%= v_resumen_bodeguero.COMPRAS %></td>
        <td><%= link_to 'Show', v_resumen_bodeguero %></td>
        <td><%= link_to 'Edit', edit_v_resumen_bodeguero_path(v_resumen_bodeguero) %></td>
        <td><%= link_to 'Destroy', v_resumen_bodeguero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New V resumen bodeguero', new_v_resumen_bodeguero_path %>
