<p id="notice"><%= notice %></p>

<p>
  <strong>Id usuario:</strong>
  <%= @v_resumen_bodeguero.ID_USUARIO %>
</p>

<p>
  <strong>Nombre usuario:</strong>
  <%= @v_resumen_bodeguero.NOMBRE_USUARIO %>
</p>

<p>
  <strong>Rut usuario:</strong>
  <%= @v_resumen_bodeguero.RUT_USUARIO %>
</p>

<p>
  <strong>Correo usuario:</strong>
  <%= @v_resumen_bodeguero.CORREO_USUARIO %>
</p>

<p>
  <strong>Telefono usuario:</strong>
  <%= @v_resumen_bodeguero.TELEFONO_USUARIO %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @v_resumen_bodeguero.EDAD %>
</p>

<p>
  <strong>Ventas:</strong>
  <%= @v_resumen_bodeguero.VENTAS %>
</p>

<p>
  <strong>Compras:</strong>
  <%= @v_resumen_bodeguero.COMPRAS %>
</p>

<%= link_to 'Edit', edit_v_resumen_bodeguero_path(@v_resumen_bodeguero) %> |
<%= link_to 'Back', v_resumen_bodeguero_index_path %>
