<%= form_for(@propiedad) do |f| %>
  <% if @propiedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propiedad.errors.count, "error") %> prohibited this propiedad from being saved:</h2>

      <ul>
      <% @propiedad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NOMBRE_PROPIEDAD %><br>
    <%= f.text_field :NOMBRE_PROPIEDAD %>
  </div>
  <div class="field">
    <%= f.label :EJEMPLO_VALOR_PROPIEDAD %><br>
    <%= f.text_field :EJEMPLO_VALOR_PROPIEDAD %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
