<h1>Listing orden_de_compra</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id proveedor</th>
      <th>Id cotizacion</th>
      <th>Id estado compra</th>
      <th>Fecha compra</th>
      <th>Monto total compra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_de_compra.each do |orden_de_compra| %>
      <tr>
        <td><%= orden_de_compra.ID_PROVEEDOR %></td>
        <td><%= orden_de_compra.ID_COTIZACION %></td>
        <td><%= orden_de_compra.ID_ESTADO_COMPRA %></td>
        <td><%= orden_de_compra.FECHA_COMPRA %></td>
        <td><%= orden_de_compra.MONTO_TOTAL_COMPRA %></td>
        <td><%= link_to 'Show', orden_de_compra %></td>
        <td><%= link_to 'Edit', edit_orden_de_compra_path(orden_de_compra) %></td>
        <td><%= link_to 'Destroy', orden_de_compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden de compra', new_orden_de_compra_path %>
