<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NOMBRE_PROVEEDOR, "Nombre *" %><br>
    <%= f.text_field :NOMBRE_PROVEEDOR, :class => "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :PAIS_PROVEEDOR, "País *" %><br>
    <%= f.text_field :PAIS_PROVEEDOR, :class => "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :CIUDAD_PROVEEDOR, "Ciudad *" %><br>
    <%= f.text_field :CIUDAD_PROVEEDOR, :class => "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :DIRECCION_PROVEEDOR, "Dirección *" %><br>
    <%= f.text_field :DIRECCION_PROVEEDOR, :class => "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :CORREO_PROVEEDOR, "Correo electronico"  %><br>
    <%= f.text_field :CORREO_PROVEEDOR, :class => "form-control"  %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit "Ingresar proveedor", :class => "col-xs-4 btn btn-default", :style=>"color:white;background-color:green" %>
  </div>
    <%= link_to 'Volver', proveedor_index_path , :class => "col-xs-4 btn btn-default", :style=>"margin-left:20px;margin-bottom:20px;" %>
<% end %>
