<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NOMBRE_PROVEEDOR %><br>
    <%= f.text_field :NOMBRE_PROVEEDOR %>
  </div>
  <div class="field">
    <%= f.label :PAIS_PROVEEDOR %><br>
    <%= f.text_field :PAIS_PROVEEDOR %>
  </div>
  <div class="field">
    <%= f.label :CIUDAD_PROVEEDOR %><br>
    <%= f.text_field :CIUDAD_PROVEEDOR %>
  </div>
  <div class="field">
    <%= f.label :DIRECCION_PROVEEDOR %><br>
    <%= f.text_field :DIRECCION_PROVEEDOR %>
  </div>
  <div class="field">
    <%= f.label :CORREO_PROVEEDOR %><br>
    <%= f.text_field :CORREO_PROVEEDOR %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
