<div class="panel panel-default">
  <div class="panel-heading"><h1>Lista de proveedores</h1></div>
  <div class="panel-body">
    <%= link_to 'Ingresar proveedor', new_proveedor_path, :class => "col-xs-2 btn btn-primary", :style=>"margin-left:20px;color:white;background-color:green" %>
    <br><br>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nombre proveedor</th>
          <th>Pais proveedor</th>
          <th>Ciudad proveedor</th>
          <th>Dirección proveedor</th>
          <th>Correo proveedor</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @proveedor.each do |proveedor| %>
          <tr>
            <td><%= proveedor.NOMBRE_PROVEEDOR %></td>
            <td><%= proveedor.PAIS_PROVEEDOR %></td>
            <td><%= proveedor.CIUDAD_PROVEEDOR %></td>
            <td><%= proveedor.DIRECCION_PROVEEDOR %></td>
            <td><%= proveedor.CORREO_PROVEEDOR %></td>
            <td>
              <div class="btn-group" role="group" >
                <%= link_to 'Detalle', proveedor, :class => "btn btn-primary", :style=> "color:white;background-color:green;width:100px;" %>
                <%= link_to 'Editar', edit_proveedor_path(proveedor), :class => "btn btn-default", :style=>"width:100px;" %>
                <!--<%= link_to 'Desactivar', proveedor, method: :delete, data: { confirm: '¿Esta seguro?'}, :class => "btn btn-danger"  %>-->
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <% if current_usuario.ROL_USUARIO == 'A'%>
      <%= link_to 'Volver', compra_insumos_index_path, :class => "btn btn-default", :style=>"width:100px;margin-left:20px;"%>
    <%end%>
    <br>
  </div>
</div>
