<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre proveedor:</strong>
  <%= @proveedor.NOMBRE_PROVEEDOR %>
</p>

<p>
  <strong>Pais proveedor:</strong>
  <%= @proveedor.PAIS_PROVEEDOR %>
</p>

<p>
  <strong>Ciudad proveedor:</strong>
  <%= @proveedor.CIUDAD_PROVEEDOR %>
</p>

<p>
  <strong>Direccion proveedor:</strong>
  <%= @proveedor.DIRECCION_PROVEEDOR %>
</p>

<p>
  <strong>Correo proveedor:</strong>
  <%= @proveedor.CORREO_PROVEEDOR %>
</p>

<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedor_index_path %>
