<h1>Listing estado_devolucion</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion estado devolucion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estado_devolucion.each do |estado_devolucion| %>
      <tr>
        <td><%= estado_devolucion.DESCRIPCION_ESTADO_DEVOLUCION %></td>
        <td><%= link_to 'Show', estado_devolucion %></td>
        <td><%= link_to 'Edit', edit_estado_devolucion_path(estado_devolucion) %></td>
        <td><%= link_to 'Destroy', estado_devolucion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estado devolucion', new_estado_devolucion_path %>
