<h1>Listing propiedad_valor</h1>

<table>
  <thead>
    <tr>
      <th>Id propiedad</th>
      <th>Id insumo</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propiedad_valor.each do |propiedad_valor| %>
      <tr>
        <td><%= propiedad_valor.ID_PROPIEDAD %></td>
        <td><%= propiedad_valor.ID_INSUMO %></td>
        <td><%= propiedad_valor.VALOR %></td>
        <td><%= link_to 'Show', propiedad_valor %></td>
        <td><%= link_to 'Edit', edit_propiedad_valor_path(propiedad_valor) %></td>
        <td><%= link_to 'Destroy', propiedad_valor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propiedad valor', new_propiedad_valor_path %>
