<h1>Listing v_orden_de_compra</h1>

<table>
  <thead>
    <tr>
      <th>Id compra</th>
      <th>Id proveedor</th>
      <th>Id cotizacion</th>
      <th>Id estado compra</th>
      <th>Fecha compra</th>
      <th>Monto total compra</th>
      <th>Nombre proveedor</th>
      <th>Fecha cotizacion</th>
      <th>Estado actual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @v_orden_de_compra.each do |v_orden_de_compra| %>
      <tr>
        <td><%= v_orden_de_compra.ID_COMPRA %></td>
        <td><%= v_orden_de_compra.ID_PROVEEDOR %></td>
        <td><%= v_orden_de_compra.ID_COTIZACION %></td>
        <td><%= v_orden_de_compra.ID_ESTADO_COMPRA %></td>
        <td><%= v_orden_de_compra.FECHA_COMPRA %></td>
        <td><%= v_orden_de_compra.MONTO_TOTAL_COMPRA %></td>
        <td><%= v_orden_de_compra.NOMBRE_PROVEEDOR %></td>
        <td><%= v_orden_de_compra.FECHA_COTIZACION %></td>
        <td><%= v_orden_de_compra.ESTADO_ACTUAL %></td>
        <td><%= link_to 'Show', v_orden_de_compra %></td>
        <td><%= link_to 'Edit', edit_v_orden_de_compra_path(v_orden_de_compra) %></td>
        <td><%= link_to 'Destroy', v_orden_de_compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New V orden de compra', new_v_orden_de_compra_path %>
