<h1>Listing detalle_venta</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id venta</th>
      <th>Linea venta</th>
      <th>Id insumo</th>
      <th>Cantidad venta</th>
      <th>Precio venta</th>
      <th>Descuento venta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_venta.each do |detalle_venta| %>
      <tr>
        <td><%= detalle_venta.ID_VENTA %></td>
        <td><%= detalle_venta.LINEA_VENTA %></td>
        <td><%= detalle_venta.ID_INSUMO %></td>
        <td><%= detalle_venta.CANTIDAD_VENTA %></td>
        <td><%= detalle_venta.PRECIO_VENTA %></td>
        <td><%= detalle_venta.DESCUENTO_VENTA %></td>
        <td><%= link_to 'Show', detalle_venta %></td>
        <td><%= link_to 'Edit', edit_detalle_venta_path(detalle_venta) %></td>
        <td><%= link_to 'Destroy', detalle_venta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle venta', new_detalle_venta_path %>
