<p id="notice"><%= notice %></p>

<p>
  <strong>Id venta:</strong>
  <%= @detalle_venta.ID_VENTA %>
</p>

<p>
  <strong>Linea venta:</strong>
  <%= @detalle_venta.LINEA_VENTA %>
</p>

<p>
  <strong>Id insumo:</strong>
  <%= @detalle_venta.ID_INSUMO %>
</p>

<p>
  <strong>Cantidad venta:</strong>
  <%= @detalle_venta.CANTIDAD_VENTA %>
</p>

<p>
  <strong>Precio venta:</strong>
  <%= @detalle_venta.PRECIO_VENTA %>
</p>

<p>
  <strong>Descuento venta:</strong>
  <%= @detalle_venta.DESCUENTO_VENTA %>
</p>

<%= link_to 'Edit', edit_detalle_venta_path(@detalle_venta) %> |
<%= link_to 'Back', detalle_venta_index_path %>
