<div class="panel panel-default">
  <div class="panel-heading"><h1>Detalle Insumo</h1></div>
  <div class="panel-body" >
      <p id="notice"><%= notice %></p>
    <div class="row">
        <p class="col-xs-2" style="font-weight: bold;">Insumo</p>
        <p class="col-xs-3"><%= @v_stock_insumo.NOMBRE_UNICO_INSUMO %></p>
    </div>
    <div class="row">
        <p class="col-xs-2" style="font-weight: bold;">Precio</p>
        <p class="col-xs-3">$<%= @v_stock_insumo.PRECIO_INSUMO %></p>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h4 style="font-weight: bold">Stock</h4>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Local</th>
              <th>Stock</th>
            </tr>
          </thead>

          <tbody>
            <% @v_stock.each do |v_stock_insumo| %>
              <tr>
                <% if v_stock_insumo.ID_INSUMO == @v_stock_insumo.ID_INSUMO %>
                  <td><%= v_stock_insumo.DIRECCION_LOCAL %></td>
                  <td><%= v_stock_insumo.STOCK_INSUMO_LOCAL %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6">
        <h4 style="font-weight: bold">Lista de propiedades</h4>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><strong>Nombre propiedad</strong></th>
              <th><strong>Valor</strong></th>
            </tr>
          </thead>

          <tbody>
            <% @v_propiedad_valor.each do |v_propiedad_valor| %>
              <tr>
                <% if v_propiedad_valor.ID_INSUMO == @v_stock_insumo.ID_INSUMO %>
                  <td><%= v_propiedad_valor.NOMBRE_PROPIEDAD %></td>
                  <td><%= v_propiedad_valor.VALOR %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <div class="col-xs-1"></div>
      <div class="col-xs-4">
      <%if @v_stock_insumo.COMPATIBILIDAD_INSUMO==true %>
        <h4 style="font-weight: bold">Lista de marcas de impresora compatibles</h4>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><strong>Marca</strong></th>
            </tr>
          </thead>

          <tbody>
            <% @v_compatibilidad.each do |v_compatibilidad| %>
              <tr>
                <% if v_compatibilidad.ID_INSUMO == @v_stock_insumo.ID_INSUMO %>
                  <td><%= v_compatibilidad.NOMBRE_MARCA %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <%end%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="btn-group" role="group" >
        <%= link_to 'Volver', v_stock_insumo_index_path, :class => "btn btn-default col-xs-2", :style=>"width:100px;" %>
      </div>
    </div>
</div>