<div class="panel panel-default">
  <div class="panel-heading"><h1>Lista de guías de despacho</h1></div>
  <div class="panel-body">
    <br><br>
    <% if current_usuario.ROL_USUARIO=='A'%>
      <%= link_to 'Ingresar guía de despacho', new_v_guia_despacho_path , :class => "col-xs-2 btn btn-primary", :style=>"margin-left:20px;color:white;background-color:green"%>
    <%end%>
    <br><br>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Número orden de compra</th>
        <th>Fecha de salida</th>
        <th>Fecha de recepcion</th>
        <th>Tipo de movimiento</th>
        <% if current_usuario.ROL_USUARIO!='B'%>
          <th>Nombre bodeguero encargado</th>
          <th>Destino despacho</th>
        <%end%>
        <th>Nombre proveedor</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @v_guia_despacho.each do |v_guia_despacho| %>
        <tr>
          <td><%= v_guia_despacho.ID_COMPRA %></td>
          <td><%= v_guia_despacho.FECHA_SALIDA_GUIA %></td>
          <td><%= v_guia_despacho.FECHA_RECEPCION_GUIA %></td>
          <td><%= v_guia_despacho.TIPO_MOVIMIENTO_GUIA %></td>
          <% if current_usuario.ROL_USUARIO!='B'%>
            <td><%= v_guia_despacho.NOMBRE_BODEGUERO_ENCARGADO %></td>
            <%if v_guia_despacho.DESPACHO_LOCAL_GUIA == true %>
              <td><%= v_guia_despacho.LOCAL_DESPACHO %></td>
            <%else%>
              <td><%= v_guia_despacho.DESTINO_GUIA %></td>
            <%end%>
          <%end%>
          <td><%= v_guia_despacho.NOMBRE_PROVEEDOR %></td>
          <td>
            <div class="btn-group" role="group" >
            <%= link_to 'Detalle', v_guia_despacho, :class => "btn btn-primary", :style=> "color:white;background-color:green;width:100px;" %>
            <% if current_usuario.ROL_USUARIO == 'A'%>
              <%= link_to 'Editar', edit_v_guia_despacho_path(v_guia_despacho), :class => "btn btn-default", :style=>"width:100px;" %>
            <%end%>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>