<p id="notice"><%= notice %></p>

<p>
  <strong>Id guia despacho:</strong>
  <%= @v_guia_despacho.ID_GUIA_DESPACHO %>
</p>

<p>
  <strong>Id compra:</strong>
  <%= @v_guia_despacho.ID_COMPRA %>
</p>

<p>
  <strong>Id proveedor:</strong>
  <%= @v_guia_despacho.ID_PROVEEDOR %>
</p>

<p>
  <strong>Fecha salida guia:</strong>
  <%= @v_guia_despacho.FECHA_SALIDA_GUIA %>
</p>

<p>
  <strong>Fecha recepcion guia:</strong>
  <%= @v_guia_despacho.FECHA_RECEPCION_GUIA %>
</p>

<p>
  <strong>Tipo movimiento guia:</strong>
  <%= @v_guia_despacho.TIPO_MOVIMIENTO_GUIA %>
</p>

<p>
  <strong>Vehiculo guia:</strong>
  <%= @v_guia_despacho.VEHICULO_GUIA %>
</p>

<p>
  <strong>Destino guia:</strong>
  <%= @v_guia_despacho.DESTINO_GUIA %>
</p>

<p>
  <strong>Despacho local guia:</strong>
  <%= @v_guia_despacho.DESPACHO_LOCAL_GUIA %>
</p>

<p>
  <strong>Nombre bodeguero encargado:</strong>
  <%= @v_guia_despacho.NOMBRE_BODEGUERO_ENCARGADO %>
</p>

<p>
  <strong>Nombre proveedor:</strong>
  <%= @v_guia_despacho.NOMBRE_PROVEEDOR %>
</p>

<p>
  <strong>Local despacho:</strong>
  <%= @v_guia_despacho.LOCAL_DESPACHO %>
</p>

<%= link_to 'Edit', edit_v_guia_despacho_path(@v_guia_despacho) %> |
<%= link_to 'Back', v_guia_despacho_index_path %>
