<h1>Listing detalle_orden_de_compra</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id compra</th>
      <th>Linea compra</th>
      <th>Id proveedor</th>
      <th>Id insumo</th>
      <th>Codigo insumo</th>
      <th>Cantidad compra</th>
      <th>Precio compra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_orden_de_compra.each do |detalle_orden_de_compra| %>
      <tr>
        <td><%= detalle_orden_de_compra.ID_COMPRA %></td>
        <td><%= detalle_orden_de_compra.LINEA_COMPRA %></td>
        <td><%= detalle_orden_de_compra.ID_PROVEEDOR %></td>
        <td><%= detalle_orden_de_compra.ID_INSUMO %></td>
        <td><%= detalle_orden_de_compra.CODIGO_INSUMO %></td>
        <td><%= detalle_orden_de_compra.CANTIDAD_COMPRA %></td>
        <td><%= detalle_orden_de_compra.PRECIO_COMPRA %></td>
        <td><%= link_to 'Show', detalle_orden_de_compra %></td>
        <td><%= link_to 'Edit', edit_detalle_orden_de_compra_path(detalle_orden_de_compra) %></td>
        <td><%= link_to 'Destroy', detalle_orden_de_compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle orden de compra', new_detalle_orden_de_compra_path %>
