<h1>Listing cotizacion</h1>

<table>
  <thead>
    <tr>
      <th>Id proveedor</th>
      <th>Fecha cotizacion</th>
      <th>Monto total cotizacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizacion.each do |cotizacion| %>
      <tr>
        <td><%= cotizacion.ID_PROVEEDOR %></td>
        <td><%= cotizacion.FECHA_COTIZACION %></td>
        <td><%= cotizacion.MONTO_TOTAL_COTIZACION %></td>
        <td><%= link_to 'Show', cotizacion %></td>
        <td><%= link_to 'Edit', edit_cotizacion_path(cotizacion) %></td>
        <td><%= link_to 'Destroy', cotizacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cotizacion', new_cotizacion_path %>
