<h1>Listing cotizacion</h1>


<%= link_to 'Ingresar cotización', new_cotizacion_path %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id proveedor</th>
      <th>Fecha cotizacion</th>
      <th>Monto total cotizacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizacion.each do |cotizacion| %>
      <tr>
        <td><%= cotizacion.ID_PROVEEDOR %></td>
        <td><%= cotizacion.FECHA_COTIZACION %></td>
        <td><%= cotizacion.MONTO_TOTAL_COTIZACION %></td>
        <td><%= link_to 'Detalle', cotizacion %></td>
        <td><%= link_to 'Editar', edit_cotizacion_path(cotizacion) %></td>
        <td><%= link_to 'Eliminar', cotizacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
