<p id="notice"><%= notice %></p>

<p>
  <strong>Id insumo:</strong>
  <%= @v_compatibilidad.ID_INSUMO %>
</p>

<p>
  <strong>Id marca:</strong>
  <%= @v_compatibilidad.ID_MARCA %>
</p>

<p>
  <strong>Nombre marca:</strong>
  <%= @v_compatibilidad.NOMBRE_MARCA %>
</p>

<%= link_to 'Edit', edit_v_compatibilidad_path(@v_compatibilidad) %> |
<%= link_to 'Back', v_compatibilidad_index_path %>
