<%= form_for(@v_cotizacion) do |f| %>
  <% if @v_cotizacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@v_cotizacion.errors.count, "error") %> prohibited this v_cotizacion from being saved:</h2>

      <ul>
      <% @v_cotizacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :ID_PROVEEDOR %><br>
    <%= f.number_field :ID_PROVEEDOR %>
  </div>
  <div class="field">
    <%= f.label :FECHA_COTIZACION %><br>
    <%= f.date_field :FECHA_COTIZACION %>
  </div>
  <div class="field">
    <%= f.label :MONTO_TOTAL_COTIZACION %><br>
    <%= f.text_field :MONTO_TOTAL_COTIZACION %>
  </div>
  <div class="field">
    <%= f.label :NOMBRE_PROVEEDOR %><br>
    <%= f.text_field :NOMBRE_PROVEEDOR %>
  </div>
  <h2> Detalle cotización </h2>
  <%= f.fields_for :DetalleCotizacion do |detalle_cotizacion| %>
    <div>
      <div class="fields">
        <%=detalle_cotizacion.label :LINEA_DEVOLUCION, "Linea de detalle"%><br>
        <%= detalle_cotizacion.number_field :LINEA_DEVOLUCION%>
        <%=detalle_cotizacion.label :ID_INSUMO, "Linea de detalle"%><br>
        <%= detalle_cotizacion.number_field :ID_INSUMO%>
        <%=detalle_cotizacion.label :CANTIDAD_PRODUCTOS, "Linea de detalle"%><br>
        <%= detalle_cotizacion.number_field :CANTIDAD_PRODUCTOS%>
      </div>
    </div>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
