<%= form_for(@detalle_cambio_insumo) do |f| %>
  <% if @detalle_cambio_insumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle_cambio_insumo.errors.count, "error") %> prohibited this detalle_cambio_insumo from being saved:</h2>

      <ul>
      <% @detalle_cambio_insumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ID_DEVOLUCION %><br>
    <%= f.number_field :ID_DEVOLUCION %>
  </div>
  <div class="field">
    <%= f.label :LINEA_CAMBIO %><br>
    <%= f.number_field :LINEA_CAMBIO %>
  </div>
  <div class="field">
    <%= f.label :ID_INSUMO %><br>
    <%= f.number_field :ID_INSUMO %>
  </div>
  <div class="field">
    <%= f.label :PRECIO_CAMBIO %><br>
    <%= f.number_field :PRECIO_CAMBIO %>
  </div>
  <div class="field">
    <%= f.label :CANTIDAD_CAMBIO %><br>
    <%= f.number_field :CANTIDAD_CAMBIO %>
  </div>
  <div class="field">
    <%= f.label :DESCUENTO_CAMBIO %><br>
    <%= f.number_field :DESCUENTO_CAMBIO %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
