<div class="container-fluid center">

  <div class="panel panel-default col-sm-12 col-md-4 col-md-offset-4" align = "center" style="padding:10px">
    <h2>Inicio de Sesión</h2>
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label "Dirección de correo", :align => "left" %><br />
        <%= f.email_field :email, autofocus: true, :placeholder => "Dirección de correo", :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label "Contraseña", :align => "left" %><br />
        <%= f.password_field :password, autocomplete: "off", :placeholder => "Contraseña", :class => "form-control" %>
      </div>

      <br>
      <div class="col-xs-6">
        <% if devise_mapping.rememberable? -%>
          <div class="field" align="left">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, 'Recuérdame' %>
          </div>
        <% end -%>
      </div>
      <div class="col-xs-6" align="right">
        <%= render "devise/shared/links" %>
      </div>
      <div class="actions">
        <%= f.submit "Ingresar", :class => "btn btn-lg btn-primary btn-block", :style =>"margin-top:50px;background-color:green" %>
      </div>
    <% end %>
  </div>

</div>
