<p id="notice"><%= notice %></p>

<p>
  <strong>Id marca:</strong>
  <%= @compatibilidad.ID_MARCA %>
</p>

<p>
  <strong>Id insumo:</strong>
  <%= @compatibilidad.ID_INSUMO %>
</p>

<%= link_to 'Edit', edit_compatibilidad_path(@compatibilidad) %> |
<%= link_to 'Back', compatibilidad_index_path %>
