<h1>Listing estado_orden_de_compra</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Descripcion estado compra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estado_orden_de_compra.each do |estado_orden_de_compra| %>
      <tr>
        <td><%= estado_orden_de_compra.DESCRIPCION_ESTADO_COMPRA %></td>
        <td><%= link_to 'Show', estado_orden_de_compra %></td>
        <td><%= link_to 'Edit', edit_estado_orden_de_compra_path(estado_orden_de_compra) %></td>
        <td><%= link_to 'Destroy', estado_orden_de_compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estado orden de compra', new_estado_orden_de_compra_path %>
