<h1>Listing bodeguero</h1>

<table>
  <thead>
    <tr>
      <th>Id local</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bodeguero.each do |bodeguero| %>
      <tr>
        <td><%= bodeguero.ID_LOCAL %></td>
        <td><%= link_to 'Show', bodeguero %></td>
        <td><%= link_to 'Edit', edit_bodeguero_path(bodeguero) %></td>
        <td><%= link_to 'Destroy', bodeguero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bodeguero', new_bodeguero_path %>
