<%= form_for(@devolucion) do |f| %>
  <% if @devolucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@devolucion.errors.count, "error") %> prohibited this devolucion from being saved:</h2>

      <ul>
      <% @devolucion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ID_VENTA, "Número de boleta venta *"%><br>
    <%= f.collection_select :ID_VENTA, Venta.all, :id, :NUMERO_BOLETA_VENTA, :include_blank => true %>
  </div>
  <div class="field">
    <% if current_usuario.ROL_USUARIO=="A"%>
    <%= f.label :ID_LOCAL, "Local *" %><br>
    <%= f.collection_select :ID_LOCAL, Local.all, :id, :DIRECCION_LOCAL, :include_blank => true %>
    <% else%>
    <%= f.label :ID_LOCAL, "Local *" %><br>
    <%= f.collection_select :ID_LOCAL, Local.where(ID_LOCAL: current_usuario.ID_LOCAL), :id, :DIRECCION_LOCAL %>
    <% end%>
  </div>
  <div class="field">
    <%= f.label :ID_VENDEDOR , "Vendedor *" %><br>
    <% datos={current_usuario.NOMBRE_USUARIO=>current_usuario.ID_USUARIO}%>
    <%= f.select :ID_VENDEDOR,datos,disabled: true, selected: current_usuario.ID_USUARIO%>
  </div>
  <div class="field">
    <%= f.label :MONTO_CAMBIO, "Monto *" %><br>
    <%= f.number_field :MONTO_CAMBIO, :class => "form-control", :min => 0 %>
  </div>
  <div class="field">
    <% tipos= {"REPOSICION INSUMOS"=>"REPOSICION INSUMOS","DEVOLUCION DEL DINERO"=>"DEVOLUCION DEL DINERO","INSUMOS NUEVOS"=>"DEVOLUCION DEL DINERO"}%>
    <%= f.label :TIPO_DEVOLUCION, "Tipo de devolución *" %><br>
    <%= f.select :TIPO_DEVOLUCION,tipos, :class => "form-control", :include_blank => true  %>
  </div>
  <div class="field">
    <%= f.label :COMENTARIO_DEVOLUCION, "Comentario" %><br>
    <%= f.text_field :COMENTARIO_DEVOLUCION, :class => "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :INSUMOS_DEFECTUOSOS_DEVOLUCION, "Insumos Defectuosos *" %><br>
    <%= f.check_box :INSUMOS_DEFECTUOSOS_DEVOLUCION  %>
  </div>
  <h3> Detalle Devolución </h3>
  <%= f.fields_for :DetalleDevolucion, include_id: false do |detalle_devolucion|%>
    <div class="row">
      <div class=" panel panel-default col-xs-8" style="padding:0px;">
        <br><br>
        <div class="panel-body">
          <div class="row">
            <%= detalle_devolucion.label :LINEA_DEVOLUCION, "Línea de detalle *", :class=>"col-xs-6"%>
            <%= detalle_devolucion.number_field :LINEA_DEVOLUCION, :min=>1 %>
          </div>
          <div class="row">
            <%= detalle_devolucion.label :ID_INSUMO, "Insumo *", :class=>"col-xs-6"%>
            <%= detalle_devolucion.collection_select :ID_INSUMO, Insumo.all, :id, :NOMBRE_UNICO_INSUMO, :include_blank => true %>
          </div>
          <div class="row">
            <%= detalle_devolucion.label :CANTIDAD_PRODUCTOS, "Cantidad de unidades *", :class=>"col-xs-6"%>
            <%= detalle_devolucion.number_field :CANTIDAD_PRODUCTOS ,:min => 1 %>
          </div>
          <div class="row">
            <%= detalle_devolucion.hidden_field :_destroy%>
            <% link_to "Eliminar", '#', class: "remove_fields" %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <%if :TIPO_DEVOLUCION == "INSUMOS NUEVOS"%>
    <div class="field">
      <%= f.label :CANT_INSUMOS_NUEVOS_DEVOLUCION, "Cantidad de insumos nuevos" %><br>
      <%= f.number_field :CANT_INSUMOS_NUEVOS_DEVOLUCION, :class => "form-control" ,:min=>0 %>
    </div>

  <%end%>
  <br><br>
  <div class="row">
    <div class="actions">
      <%= f.submit "Ingresar devolución", :class => "col-xs-4 btn btn-default", :style=>"margin-left:20px;color:white;background-color:green" %>
    </div>
      <%= link_to 'Volver', v_devolucion_index_path , :class => "col-xs-4 btn btn-default", :style=>"margin-left:20px;margin-bottom:20px;" %>
  </div>
<% end %>
