<div class="panel panel-default">
  <div class="panel-heading"><h1>Lista de devoluciones</h1></div>
  <div class="panel-body" >
    <br><br>
    <%= link_to 'Ingresar Devolución', new_v_devolucion_path , :class => "col-xs-2 btn btn-primary", :style=>"margin-left:20px;color:white;background-color:green"%>
    <br><br>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Dirección Local</th>
        <th>Nombre Vendedor</th>
        <th>Nombre Cliente</th>
        <th>Tipo de devolución</th>
        <th>Estado insumos</th>
        <th>Fecha de ingreso</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @v_devolucion.each do |v_devolucion| %>
        <tr>
          <td><%= v_devolucion.DIRECCION_LOCAL %></td>
          <td><%= v_devolucion.NOMBRE_VENDEDOR %></td>
          <td><%= v_devolucion.NOMBRE_CLIENTE %></td>
          <td><%= v_devolucion.TIPO_DEVOLUCION %></td>
          <% if v_devolucion.INSUMOS_DEFECTUOSOS_DEVOLUCION==true %>
            <td>Defectuosos</td>
          <%else%>
            <td>No Defectusos</td>
          <%end%>
          <td><%= v_devolucion.FECHA_DEVOLUCION %></td>
          <td>
            <div class="btn-group" role="group" >
            <%= link_to 'Mostrar', v_devolucion, :class => "btn btn-primary", :style=> "color:white;background-color:green;width:100px;" %>
            <%= link_to 'Editar', edit_v_devolucion_path(v_devolucion), :class => "btn btn-default", :style=>"width:100px;" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>