<div class="panel panel-default">
  <div class="panel-heading"><h1>Detalle Devolución</h1></div>
  <div class="panel-body" >
    <p id="notice"><%= notice %></p>

    <div class="row">
        <p class="col-xs-2" style="font-weight: bold;">Direccion local</p>
        <p class="col-xs-2"><%= @v_devolucion.DIRECCION_LOCAL %></p>
    </div>
    <div class="row">
        <p class="col-xs-2" style="font-weight: bold;">Nombre vendedor</p>
        <p class="col-xs-2"><%= @v_devolucion.NOMBRE_VENDEDOR %></p>
    </div>
    <div class="row">
        <p class="col-xs-2" style="font-weight: bold;">Nombre cliente</p>
        <p class="col-xs-2"><%= @v_devolucion.NOMBRE_CLIENTE %></p>
    </div>
    <div class="row">
        <p class="col-xs-2" style="font-weight: bold;">Tipo de devolución</p>
        <p class="col-xs-2"><%= @v_devolucion.TIPO_DEVOLUCION %></p>
    </div>
    <div class="row">
        <p class="col-xs-2" style="font-weight: bold;">Estado insumos</p>
        <% if @v_devolucion.INSUMOS_DEFECTUOSOS_DEVOLUCION==true %>
          <p class="col-xs-2">Defectuosos</p>
        <%else%>
          <p class="col-xs-2">No Defectusos</p>
        <%end%>
    </div>
    <div class="row">
        <p class="col-xs-2" style="font-weight: bold;">Fecha de ingreso</p>
        <p class="col-xs-2"><%= @v_devolucion.FECHA_DEVOLUCION %></p>
    </div>
    <div class="row">
        <p class="col-xs-2" style="font-weight: bold;">Estado actual</p>
        <p class="col-xs-2" style="font-weight: bold"><%= @v_devolucion.ESTADO_ACTUAL %></p>
        <% if (current_usuario.ROL_USUARIO != 'V' and @v_devolucion.ID_ESTADO_DEVOLUCION==3) %>
          <div class="col-xs-2">
            <%= form_for @devolucion do |t| %>
              <%= t.hidden_field :ID_ESTADO_DEVOLUCION, :value=>'4'%>
              <%= t.submit "Despachar", :class => "btn btn-primary", :style=> "color:white;background-color:green;" %>
            <% end %>
          </div>
        <%end%>
    </div>

    <br>
    <div class="row">
      <div class="col-md-6">
      <h4 style="font-weight: bold">Lista de insumos devueltos</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Linea devolución</th>
            <th>Nombre insumo</th>
            <th>Cantidad de insumos</th>
          </tr>
        </thead>
        <tbody>
          <% @v_detalle_devolucion.each do |v_detalle_devolucion| %>
            <tr>
              <% if v_detalle_devolucion.ID_DEVOLUCION == @v_devolucion.ID_DEVOLUCION %>
                <td><%= v_detalle_devolucion.LINEA_DEVOLUCION %></td>
                <td><%= v_detalle_devolucion.NOMBRE_UNICO_INSUMO %></td>
                <td><%= v_detalle_devolucion.CANTIDAD_PRODUCTOS %></td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <% if @v_devolucion.TIPO_DEVOLUCION == 'INSUMOS NUEVOS'%>
        <div class="col-md-6">
        <h4 style="font-weight: bold">Lista de insumos a cambiar</h4>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Linea cambio</th>
              <th>Nombre insumo</th>
              <th>Cantidad de insumos</th>
              <th>Precio unitario</th>
              <th>Descuento unitario</th>
            </tr>
          </thead>

          <tbody>
            <% @v_detalle_cambio.each do |v_detalle_cambio| %>
              <tr>
                <% if v_detalle_cambio.ID_DEVOLUCION == @v_devolucion.ID_DEVOLUCION %>
                  <td><%= v_detalle_cambio.LINEA_CAMBIO %></td>
                  <td><%= v_detalle_cambio.NOMBRE_UNICO_INSUMO %></td>
                  <td><%= v_detalle_cambio.CANTIDAD_CAMBIO %></td>
                  <td><%= v_detalle_cambio.PRECIO_CAMBIO %></td>
                  <td><%= v_detalle_cambio.DESCUENTO_CAMBIO %></td>
                <%end%>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      <%end%>
    </div>
    <br><br>
    <div class="row">
      <div class="col-xs-2 btn-group" role="group" >
            <% @devoluciones.each do |devolucion|%>
              <%if devolucion.ID_DEVOLUCION==@v_devolucion.ID_DEVOLUCION%>
                  <%= link_to 'Editar', edit_devolucion_path(devolucion), :class => "btn btn-default", :style=>"width:100px;" %>
              <%end%>
            <%end%>
        <%= link_to 'Volver', v_devolucion_index_path, :class => "btn btn-default", :style=>"width:100px;" %>
      </div>
    </div>
  </div>
</div>
<br>