<p id="notice"><%= notice %></p>

<p>
  <strong>Id devolucion:</strong>
  <%= @v_devolucion.ID_DEVOLUCION %>
</p>

<p>
  <strong>Id venta:</strong>
  <%= @v_devolucion.ID_VENTA %>
</p>

<p>
  <strong>Id local:</strong>
  <%= @v_devolucion.ID_LOCAL %>
</p>

<p>
  <strong>Id vendedor:</strong>
  <%= @v_devolucion.ID_VENDEDOR %>
</p>

<p>
  <strong>Id estado devolucion:</strong>
  <%= @v_devolucion.ID_ESTADO_DEVOLUCION %>
</p>

<p>
  <strong>Fecha devolucion:</strong>
  <%= @v_devolucion.FECHA_DEVOLUCION %>
</p>

<p>
  <strong>Monto cambio:</strong>
  <%= @v_devolucion.MONTO_CAMBIO %>
</p>

<p>
  <strong>Cant insumos nuevos devolucion:</strong>
  <%= @v_devolucion.CANT_INSUMOS_NUEVOS_DEVOLUCION %>
</p>

<p>
  <strong>Tipo devolucion:</strong>
  <%= @v_devolucion.TIPO_DEVOLUCION %>
</p>

<p>
  <strong>Comentario devolucion:</strong>
  <%= @v_devolucion.COMENTARIO_DEVOLUCION %>
</p>

<p>
  <strong>Insumos defectuosos devolucion:</strong>
  <%= @v_devolucion.INSUMOS_DEFECTUOSOS_DEVOLUCION %>
</p>

<p>
  <strong>Nombre vendedor:</strong>
  <%= @v_devolucion.NOMBRE_VENDEDOR %>
</p>

<p>
  <strong>Nombre cliente:</strong>
  <%= @v_devolucion.NOMBRE_CLIENTE %>
</p>

<p>
  <strong>Estado actual:</strong>
  <%= @v_devolucion.ESTADO_ACTUAL %>
</p>

<p>
  <strong>Direccion local:</strong>
  <%= @v_devolucion.DIRECCION_LOCAL %>
</p>

<%= link_to 'Edit', edit_v_devolucion_path(@v_devolucion) %> |
<%= link_to 'Back', v_devolucion_index_path %>
