<%= form_for(@tipo_insumo) do |f| %>
  <% if @tipo_insumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_insumo.errors.count, "error") %> prohibited this tipo_insumo from being saved:</h2>

      <ul>
      <% @tipo_insumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NOMBRE_INSUMO %><br>
    <%= f.text_field :NOMBRE_INSUMO %>
  </div>
  <div class="field">
    <%= f.label :COMPATIBILIDAD_INSUMO %><br>
    <%= f.check_box :COMPATIBILIDAD_INSUMO %>
  </div>
  <h3> Propiedades asociadas </h3>
  <%= f.fields_for :TipoInsumoPropiedad, include_id: false do |detalle_cotizacion|%>
    <div class="row">
      <div class="fields panel panel-default col-xs-4" style="margin-left:20px;">
        <div class="panel-body">
        <%=detalle_cotizacion.label :ID_PROPIEDAD, "Propiedad *"%><br>
        <%= detalle_cotizacion.collection_select :ID_PROPIEDAD , Propiedad.all, :id, :NOMBRE_PROPIEDAD %><br>
        <%=detalle_cotizacion.label :PRINCIPAL_PROPIEDAD, "Parte del nombre único *"%><br>
        <%= detalle_cotizacion.check_box :PRINCIPAL_PROPIEDAD%><br>
        </div>
      </div>
    </div>
  <%end%>
  <div class="actions">
    <%= f.submit "Actualizar Tipo de insumo", :class => "col-xs-2 btn btn-default", :style=>"color:white;background-color:green" %>
  </div>
    <%= link_to 'Volver', tipo_insumo_index_path , :class => "col-xs-2 btn btn-default", :style=>"margin-left:20px;margin-bottom:20px;" %>
<% end %>
