<%= form_for(@v_venta) do |f| %>
  <% if @v_venta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@v_venta.errors.count, "error") %> prohibited this v_venta from being saved:</h2>

      <ul>
      <% @v_venta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :RUT_CLIENTE %><br>
    <%= f.text_field :RUT_CLIENTE, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :DIRECCION_LOCAL %><br>
    <%= f.text_area :DIRECCION_LOCAL, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :FORMA_DE_PAGO_VENTA %><br>
    <%= f.text_field :FORMA_DE_PAGO_VENTA, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :NUMERO_BOLETA_VENTA %><br>
    <%= f.text_area :NUMERO_BOLETA_VENTA, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Ingresar venta" , :class => "col-xs-2 btn btn-default", :style=>"color:white;background-color:green" %>
  </div>
        <%= link_to 'Volver', v_venta_index_path , :class => "col-xs-2 btn btn-default", :style=>"margin-left:20px;margin-bottom:20px;" %>
<% end %>