<div class="panel panel-default">
  <div class="panel-heading"><h1>Detalle venta</h1></div>
  <div class="panel-body" >

		<p id="notice"><%= notice %></p>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Número de boleta</p>
			  <p class="col-xs-2"><%= @v_venta.NUMERO_BOLETA_VENTA %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Nombre vendedor</p>
			  <p class="col-xs-2"><%= @v_venta.NOMBRE_VENDEDOR %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Nombre cliente</p>
			  <p class="col-xs-2"><%= @v_venta.NOMBRE_CLIENTE %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Direccion local</p>
			  <p class="col-xs-2"><%= @v_venta.DIRECCION_LOCAL %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Monto total pagado</p>
			  <p class="col-xs-2">$<%= @v_venta.MONTO_TOTAL_VENTA %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Fecha de realización</p>
			  <p class="col-xs-2"><%= @v_venta.FECHA_VENTA %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Forma de pago</p>
			  <p class="col-xs-2"><%= @v_venta.FORMA_DE_PAGO_VENTA %></p>
		</div>

		<div class="row">
		  <p class="col-xs-2" style="font-weight: bold;">Estado</p>
		  <% if @v_venta.DESPACHADA_VENTA %>
		    <div class="col-xs-2">
        	<p>Despachada</p>
        </div>
      <% else %>
        	<div class="col-xs-2">
          	<p>Por Despachar</p>
          </div> 
          <% if @user.ROL_USUARIO != 'V' %>
	          <div class="col-xs-2">
	        		<%= form_for @venta do |t| %>
								<%= t.hidden_field :DESPACHADA_VENTA, :value=>"true"%>
								<%= t.submit "Despachar", :class => "btn btn-primary", :style=> "color:white;background-color:green;" %>
							<% end %>
	  				</div>
  				<%end%>
       <% end %>
		</div>

		<br>

		<h4 style="font-weight: bold">Lista de insumos</h4>
		<p><br>
		<table class="table table-striped table-hover table-bordered">
		  <thead>
		    <tr>
		      <% if @user.ROL_USUARIO != 'B' %>
		      	<th>Linea venta</th>
		      <% end %>
		      <th>Nombre insumo</th>
		      <th>Cantidad venta</th>
		      <th>Precio venta</th>
		      <th>Descuento venta</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @v_detalle_venta.each do |v_detalle_venta| %>
		      <tr>
		      	<% if v_detalle_venta.ID_VENTA == @v_venta.ID_VENTA %>
		      		<% if @user.ROL_USUARIO != 'B' %>
			        	<td><%= v_detalle_venta.LINEA_VENTA %></td>
			        <% end %>
			        <td><%= v_detalle_venta.NOMBRE_UNICO_INSUMO %></td>
			        <td><%= v_detalle_venta.CANTIDAD_VENTA %></td>
			        <td>$<%= v_detalle_venta.PRECIO_VENTA %></td>
			        <td>$<%= v_detalle_venta.DESCUENTO_VENTA %></td>
		        <%end%>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<br><br>
		  <div class="btn-group" role="group" >
		  	<% if @user.ROL_USUARIO != 'B' %>
            <% @venta.each do |venta|%>
              <%if venta.ID_VENTA==@v_venta.ID_VENTA%>
                  <%= link_to 'Editar', edit_venta_path(venta), :class => "btn btn-default", :style=>"width:100px;" %>
              <%end%>
            <%end%>
				<% end %>				
				<%= link_to 'Volver', v_venta_index_path, :class => "btn btn-default", :style=>"width:100px;" %>		
			</div>
	</div>
</div>