<div class="panel panel-default">
  <div class="panel-heading"><h1>Detalle venta</h1></div>
  <div class="panel-body" >

		<p id="notice"><%= notice %></p>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Número de boleta</p>
			  <p class="col-xs-2"><%= @v_venta.NUMERO_BOLETA_VENTA %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Nombre vendedor</p>
			  <p class="col-xs-2"><%= @v_venta.NOMBRE_VENDEDOR %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Nombre cliente</p>
			  <p class="col-xs-2"><%= @v_venta.NOMBRE_CLIENTE %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Direccion local</p>
			  <p class="col-xs-2"><%= @v_venta.DIRECCION_LOCAL %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Monto total pagado</p>
			  <p class="col-xs-2"><%= @v_venta.MONTO_TOTAL_VENTA %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Fecha de realización</p>
			  <p class="col-xs-2"><%= @v_venta.FECHA_VENTA %></p>
		</div>
		<div class="row">
			  <p class="col-xs-2" style="font-weight: bold;">Forma de pago</p>
			  <p class="col-xs-2"><%= @v_venta.FORMA_DE_PAGO_VENTA %></p>
		</div>
		<br>
		<h4 style="font-weight: bold">Lista de insumos</h4>
		<p><br>
		<table class="table table-striped table-hover">
		  <thead>
		    <tr>
		      <th>Linea venta</th>
		      <th>Nombre insumo</th>
		      <th>Cantidad venta</th>
		      <th>Precio venta</th>
		      <th>Descuento venta</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @v_detalle_venta.each do |v_detalle_venta| %>
		      <tr>
		      	<% if v_detalle_venta.ID_VENTA == @v_venta.ID_VENTA %>
			        <td><%= v_detalle_venta.LINEA_VENTA %></td>
			        <td><%= v_detalle_venta.NOMBRE_UNICO_INSUMO %></td>
			        <td><%= v_detalle_venta.CANTIDAD_VENTA %></td>
			        <td><%= v_detalle_venta.PRECIO_VENTA %></td>
			        <td><%= v_detalle_venta.DESCUENTO_VENTA %></td>
		        <%end%>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<br><br>
		  <div class="btn-group" role="group" >
				<%= link_to 'Edit', edit_v_venta_path(@v_venta), :class => "btn btn-primary", :style=> "color:white;background-color:green;width:100px;" %>
				<%= link_to 'Back', v_venta_index_path, :class => "btn btn-default", :style=>"width:100px;" %>
			</div>
	</div>
</div>