<h1>Listing parametro</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre parametro</th>
      <th>Valor parametro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parametro.each do |parametro| %>
      <tr>
        <td><%= parametro.NOMBRE_PARAMETRO %></td>
        <td><%= parametro.VALOR_PARAMETRO %></td>
        <td><%= link_to 'Show', parametro %></td>
        <td><%= link_to 'Edit', edit_parametro_path(parametro) %></td>
        <td><%= link_to 'Destroy', parametro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parametro', new_parametro_path %>
