<h1>Listing guia_local_bodeguero</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id local</th>
      <th>Id bodeguero</th>
      <th>Id guia despacho</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guia_local_bodeguero.each do |guia_local_bodeguero| %>
      <tr>
        <td><%= guia_local_bodeguero.ID_LOCAL %></td>
        <td><%= guia_local_bodeguero.ID_BODEGUERO %></td>
        <td><%= guia_local_bodeguero.ID_GUIA_DESPACHO %></td>
        <td><%= link_to 'Show', guia_local_bodeguero %></td>
        <td><%= link_to 'Edit', edit_guia_local_bodeguero_path(guia_local_bodeguero) %></td>
        <td><%= link_to 'Destroy', guia_local_bodeguero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guia local bodeguero', new_guia_local_bodeguero_path %>
