<p id="notice"><%= notice %></p>

<p>
  <strong>Id local:</strong>
  <%= @guia_local_bodeguero.ID_LOCAL %>
</p>

<p>
  <strong>Id bodeguero:</strong>
  <%= @guia_local_bodeguero.ID_BODEGUERO %>
</p>

<p>
  <strong>Id guia despacho:</strong>
  <%= @guia_local_bodeguero.ID_GUIA_DESPACHO %>
</p>

<%= link_to 'Edit', edit_guia_local_bodeguero_path(@guia_local_bodeguero) %> |
<%= link_to 'Back', guia_local_bodeguero_index_path %>
