<%= form_for(@detalle_cotizacion) do |f| %>
  <% if @detalle_cotizacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle_cotizacion.errors.count, "error") %> prohibited this detalle_cotizacion from being saved:</h2>

      <ul>
      <% @detalle_cotizacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ID_COTIZACION %><br>
    <%= f.number_field :ID_COTIZACION %>
  </div>
  <div class="field">
    <%= f.label :LINEA_COTIZACION %><br>
    <%= f.number_field :LINEA_COTIZACION %>
  </div>
  <div class="field">
    <%= f.label :ID_PROVEEDOR %><br>
    <%= f.number_field :ID_PROVEEDOR %>
  </div>
  <div class="field">
    <%= f.label :ID_INSUMO %><br>
    <%= f.number_field :ID_INSUMO %>
  </div>
  <div class="field">
    <%= f.label :CODIGO_INSUMO %><br>
    <%= f.text_field :CODIGO_INSUMO %>
  </div>
  <div class="field">
    <%= f.label :CANTIDAD_COTIZACION %><br>
    <%= f.number_field :CANTIDAD_COTIZACION %>
  </div>
  <div class="field">
    <%= f.label :PRECIO_COTIZACION %><br>
    <%= f.text_field :PRECIO_COTIZACION %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
