<p id="notice"><%= notice %></p>

<p>
  <strong>Id cotizacion:</strong>
  <%= @detalle_cotizacion.ID_COTIZACION %>
</p>

<p>
  <strong>Linea cotizacion:</strong>
  <%= @detalle_cotizacion.LINEA_COTIZACION %>
</p>

<p>
  <strong>Id codigo proveedor:</strong>
  <%= @detalle_cotizacion.ID_CODIGO_PROVEEDOR %>
</p>

<p>
  <strong>Cantidad cotizacion:</strong>
  <%= @detalle_cotizacion.CANTIDAD_COTIZACION %>
</p>

<p>
  <strong>Precio cotizacion:</strong>
  <%= @detalle_cotizacion.PRECIO_COTIZACION %>
</p>

<%= link_to 'Edit', edit_detalle_cotizacion_path(@detalle_cotizacion) %> |
<%= link_to 'Back', detalle_cotizacion_index_path %>
