<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de importación y venta de insumos</title>
    <%= favicon_link_tag "favicon.png" %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="body">

    <nav class="navbar navbar-default" style="min-height:60px">
      <div class="container-fluid">
    	  <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    			<a href="#" class="navbar-brand" align="middle" style="padding-top:5px;padding-left:5px;">
    				<img alt="Brand" height="50"  src="/assets/logo.png">
    			</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if usuario_signed_in? %> 
                <li><%= link_to "Home", welcome_index_path %></li>
              <% if current_usuario.ROL_USUARIO == 'A' or current_usuario.ROL_USUARIO == 'V' %>
                <li><%= link_to "Clientes", cliente_index_path %></li>
              <%end%>
              <% if current_usuario.ROL_USUARIO == 'A' or current_usuario.ROL_USUARIO == 'V' %>
                <li><%= link_to "Insumos", v_stock_insumo_index_path %></li>
              <%end%>
              <% if current_usuario.ROL_USUARIO == 'A' %>
                <li><%= link_to "Tipo Insumos", tipo_insumo_index_path %></li>
              <%end%>
              <% if current_usuario.ROL_USUARIO == 'B' %>
                <li><%= link_to "Inventario", v_stock_insumo_index_path %></li>
              <%end%>
              <% if current_usuario.ROL_USUARIO == 'A' %>
                <li><%= link_to "Personal", usuario_index_path %></li>
                <li><%= link_to "Locales", local_index_path %></li>
              <%end%>
              <li><%= link_to "Ventas", v_venta_index_path %></li>             
              <li><%= link_to "Devoluciones", v_devolucion_index_path %></li>
              <%if current_usuario.ROL_USUARIO == 'A'%>
                <li><%= link_to "Compra de insumos", compra_insumos_index_path %></li>
              <%end%>
              <% if current_usuario.ROL_USUARIO == 'B' %>
                <li><%= link_to "Órdenes de compra", v_orden_de_compra_index_path %></li>
                <li><%= link_to "Guías de despacho", v_guia_despacho_index_path %></li>
              <%end%>
            <%end%>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if usuario_signed_in? %>
              <li><%= link_to "Cerrar sesión", destroy_usuario_session_path, method: :delete %></li>
            <%else%>
              <li><%= link_to "Iniciar sesión", new_usuario_session_path %></li>
            <%end%>
          </ul>    
    		</div>
    	</div>
    </nav>

    <div class="pageContentWrapper">
      <div class="row">
        <div class="col-xs-12" align="center">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <!--
          <div class="col-xs-4 alert alert-success"><p class="notice"><%= notice %></p></div>
          <div class="col-xs-4 alert-danger alert"><p class="alert"><%= alert %></p></div>-->
        </div>
      </div>
      <%= yield %>
    </div>
    
    <div class="colorFooter footer">

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-9 col-xs-offset-1">

            <h4><strong>Contacto casa matriz</strong></h4>
            <br>
            <span class="glyphicon glyphicon-earphone col-xs-1"></span><p class="col-xs-11" style="padding-left:0px;padding-bottom:10px;">(+56-2) 2 999 99999</p>
            <span class="glyphicon glyphicon-envelope col-xs-1"></span> <p class="col-xs-11" style="padding-left:0px;padding-bottom:10px;">contacto@sivi.com</p>
            <span class="glyphicon glyphicon-map-marker col-xs-1"></span> <p class="col-xs-11" style="padding-left:0px;padding-bottom:10px;">Carmen 91, Santiago Centro, Santiago Región Metropolitana</p>
            <br>
    				<p>© 2016 Copyright Text</p>
          </div>
          <!--<h2 class="col-xs-1">
            <%= image_tag "logousach.png", style:"max-height:150px;" %>
          </h2>-->
        </div>
      </div>
          
    </div>

  </body>
</html>