<p id="notice"><%= notice %></p>

<p>
  <strong>Id estado compra desde:</strong>
  <%= @transicion_estado_compra.ID_ESTADO_COMPRA_DESDE %>
</p>

<p>
  <strong>Id estado compra hasta:</strong>
  <%= @transicion_estado_compra.ID_ESTADO_COMPRA_HASTA %>
</p>

<%= link_to 'Edit', edit_transicion_estado_compra_path(@transicion_estado_compra) %> |
<%= link_to 'Back', transicion_estado_compra_index_path %>
